@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Public Sans";
    color: #4F4F4F;
    background-color: rgba(76, 175, 80, 0.1);
}

.list {
    display: flex;
    flex-direction: column;
}

.list li {
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
    position: relative; 
}

.list li:hover {
    background-color: #E0E0E0;
}

.list li:active {
    background-color: #E0E0E0;
    color: #04AA6D;
}

.list a span {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon {
    margin-top: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.icon span {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.icon span img {
    width: 31px;
    height: 30px;
}

.barra {
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.barra nav img {
    padding: 8px;
    border-radius: 50px;
    background-color: #66CDAA;
}

.balao {
    max-width: 1200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    display: flex;
    align-itens: space-beetwen;
}

.balao-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-form {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table {
    width: 1200px;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table tr {
    border: 1px solid;
    padding: 5px;
}

.table td {
    border: 1px solid;
    padding: 5px;
}

.box-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}